.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    padding-bottom: 1px;
}

.places h1 {
    width: 100%;
    font-size: 30px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    border-right-color: #fccdcf;
    border-left-color: #fccdcf;
    height: 30px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}
